@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100');

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto Mono', monospace;
	color: #e1e1e1;
	background: #c5c5c8;
	background-image: url("../img/Layer 6.png"), url("../img/Layer 5.png"), url("../img/Group 3 copy.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 13%;
	text-align: center;
}

.main {
	width: 60%;
	max-width: 1000px;
	margin: 0 auto;
	border-radius: 10px;
	background-color:  #111a28;
	box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.82);
	overflow: auto;
}

.left-container {
	float: left;
	width: 65%;
}

.right-container {
	float: right;
	width: 35%;
}
 /* left__container */
.product__logo {
	padding: 4%;
	text-align: left;
}

.product__img {
	padding-top: 20%;
}

.product__button {
	padding-top: 10%;
	padding-bottom: 4%;
}

.product__button--button {
	outline: none;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	border: 3px solid #111a28;
	cursor: pointer;
}

.product__button--button:first-child {
	background-color:  #1f273f;
}

.product__button--button:nth-child(2) {
	background-color: #ffffff;
}

.product__button--button:nth-child(3) {
	background-color: #ed3333;
}

.product__button--button:nth-child(4) {
	background-color: #29e3ea;
}

.product__button--button:hover {
	border: 2px solid #7f848c;
}

/* /left__container */

/* right-container */

.right-container {
	text-align: left;
}

.options__name {
	font-size: 24px;
	padding-top: 30%;
}

.options__description {
	font-size: 14px;
	opacity: .54;
	padding-top: 3%;
}

.options__rating {
	font-size: 12px;
	color: #f7c00e;
	padding-top: 10%;
}

.fa-star:nth-child(4), .fa-star:nth-child(5) {
	color: #999ea4;
}

.fa-star {
	margin: -1px;
}

.options__select {
	outline: none;
	border: 1px solid rgba(255, 255, 255, .26);
	color: rgba(255, 255, 255, .59);
    background-color:  #111a28;
	width: 67px;
	height: 30px;
	-webkit-appearance: none;
	background-image: url("../img/Rectangle 2.png");
	background-position: 88% center;
	background-repeat: no-repeat;
	padding-left: 10px;
	font-family:  'Roboto Mono', monospace;
	cursor: pointer;
}

.options__form {
	padding-top: 10%;
}

.options__button {
	width: 184px;
	height: 40px;
	font-family:  'Roboto Mono', monospace;
	color: rgba(255, 255, 255, .59);
	font-size: 14px;
	border: 1px solid rgba(255, 255, 255, .26);
	background-color: #202835;
	outline: none;
	margin-top: 10%;
	cursor: pointer;
}

.options__button:hover {
	background-color: #4C5270;
}
/* /right__container */
