@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=cyrillic');

body {
	background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
	height: 100vh;
	box-sizing: border-box;
	margin: 0;
	padding: 50px 0 0;
	font-family: 'Comfortaa', cursive;
	color: #fff;
}


h1 {
	text-align: center;
	margin: 0;
	font-size: 40px;
}

p {
	text-align: center;
	line-height: 1.5;
	font-size: 20px;
	margin: 10px 0;
}

#div{
	border: 3px solid yellow;
	padding: 5px;
	overflow-y: auto;
	word-wrap: break-word;
	overflow-wrap: break-word;
	height: 450px;
	width: 900px;
	font-family: 'Comfortaa', cursive;
	font-size: 16px;
	margin: 0 auto;
}

#textarea {
	border: 3px dashed red;
	padding: 5px;
	display: none;
	outline: none;
	background: transparent;
	color: #fff;
	height: 450px;
	width: 900px;
	font-family: 'Comfortaa', cursive;
	font-size: 16px;
	margin: 0 auto;
}