* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.top {
	background-color: #23232e;
	padding-bottom: 5%;
}

#top_content {
	padding-top: 6%;
	width: 55%;
	margin: 0 auto;
}

#logo {
	width: 18%;
	margin: 0 auto;
}


#logo img {
	width: 100%;
	height: auto;
}

#top_content h1{
	font-weight: bold;
	color: #ffffff;
	font-size: 5em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 20%
}

#top_content p {
	font-weight: normal;
	color: #ffffff;
	text-align: center;
	font-size: 1.1em;
	opacity: .7;
	margin-top: 7%;
}

#button {
	margin: 0 auto;
	width: 5%;
	margin-top: 40%;
}

#button img {
	width: 100%;
	height: auto;
}

.bottom {
	background-color: #ffffff;
	background-image: url('../img/poloski.png');
	padding: 7% 18% 7% 18%;
	margin: 0 auto;
}

.first_p, .second_p {
	font-weight: normal;
	color: #464b4f;
	font-size: 1.7em;
	text-align: center;
	margin: auto;
}

.first_p {
	margin-bottom: 3%;
}
.what {
	font-size: 5em;
	text-transform: uppercase;
	text-align: center;
	color: #464b4f;
	margin-top: 12%;
	margin-bottom: 12%;
}

.inline {
	display: inline-block;
	width: 31%;
	margin-right: 1.5%;
}

.inline h1 {
	font-weight: bold;
	font-size: 1.5em;
	color: #464b4f;
}

.inline p {
	font-weight: normal;
	color: #888a8b;
}
